*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family:'Times New Roman', Times, serif;
}

h1{
     font-size:1.5rem;
     color:white;
     font-weight:150;
}

h2{
    color:white;
    font-size:2rem;
}

header
{
   height:70vh;
   background:url('bg-image.jpg');
   background-size:cover;
   background-repeat:no-repeat;
   background-position: center;
   padding:20px 0px 0px 20px;
   
}
ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration:none;
    color:white;
}

li{
    display:inline-block;
    margin-left:20px;
    list-style:none;
    font-size:1.3rem;
}
form
{
    width:90%;
    margin:0 auto;
}

.container
{
    width:100%;
    text-align:center;
    margin-top:90px;
}
.head
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.welcome
{
    margin-bottom: 20px;
}

.btn
{
    border:none;
    display: inline-block;
    width:150px;
    height:45px;
    background-color:rgb(29, 28, 37);
    border-radius:20px;
    color:white;
    font-size:1rem;
    font-weight: 400;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
}

.cont{
    width:100%;
    margin-top:50px;
}

.text-form
{
    display: inline-block;
    width:75%;
    height:50px;
    font-size:20px;
    padding:10px;
    margin-top:30px;
}

.text-form1
{
    width:15%;
    height:50px;
    border:none;
    display: inline-block;
    background-color:rgb(29, 28, 37);
    border-radius:20px;
    color:white;
    font-size:1rem;
    font-weight: 400;
    cursor: pointer;
    margin-left:5%;

}

.sign
{
    width:80%;
    background-color:rgb(214, 213, 213);
    margin:0 auto;
    margin-top:80px;
    border-radius: 10px;
    text-align: center;
}
.sign form{
    width:75%;
    margin:0 auto;
    margin-top:20px;
}
.sign h2{
    margin-bottom: 20px;
    padding-top: 20px;
}
.first
{
    padding:20px;
    display:block;
    width:100%;
    margin:0 auto;
}
.name
{
    width:100%;
    height:40px;
    font-size: 20px;
    padding:10px;
    border-radius:0px;
    border:none;
    margin:0 auto;
}
textarea
{
    width:100%;
    border-radius:10px;
}

.text-form2
{
    width:150px;
    height:40px;
    margin-top:30px;
    margin-bottom: 20px;
    background-color: darkgrey;
    border-radius: 10px;
    border:none;
    cursor:pointer;
}

footer
{
    width:100%;
    height:5vh;
}



